<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>access_token</string>
		<key>uniqueField</key>
		<string>access_token</string>
		<key>fields</key>
		<dict>
			<key>access_token</key>
			<string>string</string>
			<key>expires_on_date</key>
			<string>date</string>
			<key>account_id</key>
			<string>integer</string>
			<key>scope</key>
			<array>
				<string>no_expiry</string>
				<string>read_inbox</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>answer</string>
		<key>uniqueField</key>
		<string>answer_id</string>
		<key>fields</key>
		<dict>
			<key>question_id</key>
			<string>integer</string>
			<key>answer_id</key>
			<string>integer</string>
			<key>locked_date</key>
			<string>date</string>
			<key>creation_date</key>
			<string>date</string>
			<key>last_edit_date</key>
			<string>date</string>
			<key>last_activity_date</key>
			<string>date</string>
			<key>score</key>
			<string>integer</string>
			<key>community_owned_date</key>
			<string>date</string>
			<key>is_accepted</key>
			<string>boolean</string>
			<key>body</key>
			<string>string</string>
			<key>owner</key>
			<string>user</string>
			<key>title</key>
			<string>string</string>
			<key>up_vote_count</key>
			<string>integer</string>
			<key>down_vote_count</key>
			<string>integer</string>
			<key>link</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>badge</string>
		<key>uniqueField</key>
		<string>badge_id</string>
		<key>fields</key>
		<dict>
			<key>badge_id</key>
			<string>integer</string>
			<key>rank</key>
			<array>
				<string>gold</string>
				<string>silver</string>
				<string>bronze</string>
			</array>
			<key>name</key>
			<string>string</string>
			<key>description</key>
			<string>string</string>
			<key>award_count</key>
			<string>integer</string>
			<key>badge_type</key>
			<array>
				<string>named</string>
				<string>tag_based</string>
			</array>
			<key>user</key>
			<string>user</string>
			<key>link</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>badge_count</string>
		<key>fields</key>
		<dict>
			<key>gold</key>
			<string>integer</string>
			<key>silver</key>
			<string>integer</string>
			<key>bronze</key>
			<string>integer</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>comment</string>
		<key>uniqueField</key>
		<string>comment_id</string>
		<key>fields</key>
		<dict>
			<key>comment_id</key>
			<string>integer</string>
			<key>post_id</key>
			<string>integer</string>
			<key>creation_date</key>
			<string>date</string>
			<key>post_type</key>
			<array>
				<string>question</string>
				<string>answer</string>
			</array>
			<key>score</key>
			<string>integer</string>
			<key>edited</key>
			<string>boolean</string>
			<key>body</key>
			<string>string</string>
			<key>owner</key>
			<string>user</string>
			<key>reply_to_user</key>
			<string>user</string>
			<key>link</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>error</string>
		<key>fields</key>
		<dict>
			<key>error_id</key>
			<string>integer</string>
			<key>error_name</key>
			<string>string</string>
			<key>description</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>event</string>
		<key>fields</key>
		<dict>
			<key>event_type</key>
			<array>
				<string>question_posted</string>
				<string>answer_posted</string>
				<string>comment_posted</string>
				<string>post_edited</string>
				<string>user_created</string>
			</array>
			<key>event_id</key>
			<string>integer</string>
			<key>creation_date</key>
			<string>date</string>
			<key>link</key>
			<string>string</string>
			<key>excerpt</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>filter</string>
		<key>uniqueField</key>
		<string>filter</string>
		<key>fields</key>
		<dict>
			<key>filter</key>
			<string>string</string>
			<key>included_fields</key>
			<string>strings</string>
			<key>filter_type</key>
			<array>
				<string>safe</string>
				<string>unsafe</string>
				<string>invalid</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>inbox_item</string>
		<key>fields</key>
		<dict>
			<key>item_type</key>
			<array>
				<string>comment</string>
				<string>chat_message</string>
				<string>new_answer</string>
				<string>careers_message</string>
				<string>careers_invitation</string>
				<string>meta_question</string>
			</array>
			<key>question_id</key>
			<string>integer</string>
			<key>answer_id</key>
			<string>integer</string>
			<key>comment_id</key>
			<string>integer</string>
			<key>title</key>
			<string>string</string>
			<key>creation_date</key>
			<string>date</string>
			<key>is_unread</key>
			<string>boolean</string>
			<key>site</key>
			<string>site</string>
			<key>body</key>
			<string>string</string>
			<key>link</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>info</string>
		<key>fields</key>
		<dict>
			<key>total_questions</key>
			<string>integer</string>
			<key>total_unanswered</key>
			<string>integer</string>
			<key>total_accepted</key>
			<string>integer</string>
			<key>total_answers</key>
			<string>integer</string>
			<key>questions_per_minute</key>
			<string>decimal</string>
			<key>answers_per_minute</key>
			<string>decimal</string>
			<key>total_comments</key>
			<string>integer</string>
			<key>total_votes</key>
			<string>integer</string>
			<key>total_badges</key>
			<string>integer</string>
			<key>badges_per_minute</key>
			<string>decimal</string>
			<key>total_users</key>
			<string>integer</string>
			<key>new_active_users</key>
			<string>integer</string>
			<key>api_revision</key>
			<string>string</string>
			<key>site</key>
			<string>site</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>migration_info</string>
		<key>fields</key>
		<dict>
			<key>question_id</key>
			<string>integer</string>
			<key>other_site</key>
			<string>site</string>
			<key>on_date</key>
			<string>date</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>privilege</string>
		<key>fields</key>
		<dict>
			<key>short_description</key>
			<string>string</string>
			<key>description</key>
			<string>string</string>
			<key>reputation</key>
			<string>integer</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>question</string>
		<key>uniqueField</key>
		<string>question_id</string>
		<key>fields</key>
		<dict>
			<key>question_id</key>
			<string>integer</string>
			<key>last_edit_date</key>
			<string>date</string>
			<key>creation_date</key>
			<string>date</string>
			<key>last_activity_date</key>
			<string>date</string>
			<key>locked_date</key>
			<string>date</string>
			<key>score</key>
			<string>integer</string>
			<key>community_owned_date</key>
			<string>date</string>
			<key>answer_count</key>
			<string>integer</string>
			<key>accepted_answer_id</key>
			<string>integer</string>
			<key>migrated_to</key>
			<string>migration_info</string>
			<key>migrated_from</key>
			<string>migration_info</string>
			<key>bounty_closes_date</key>
			<string>date</string>
			<key>bounty_amount</key>
			<string>integer</string>
			<key>closed_date</key>
			<string>date</string>
			<key>protected_date</key>
			<string>date</string>
			<key>body</key>
			<string>string</string>
			<key>title</key>
			<string>string</string>
			<key>tags</key>
			<string>strings</string>
			<key>closed_reason</key>
			<string>string</string>
			<key>up_vote_count</key>
			<string>integer</string>
			<key>down_vote_count</key>
			<string>integer</string>
			<key>favorite_count</key>
			<string>integer</string>
			<key>view_count</key>
			<string>integer</string>
			<key>owner</key>
			<string>user</string>
			<key>link</key>
			<string>string</string>
			<key>is_answered</key>
			<string>boolean</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>question_timeline</string>
		<key>fields</key>
		<dict>
			<key>timeline_type</key>
			<array>
				<string>question</string>
				<string>answer</string>
				<string>comment</string>
				<string>unaccepted_answer</string>
				<string>accepted_answer</string>
				<string>vote_aggregate</string>
				<string>revision</string>
				<string>post_state_changed</string>
			</array>
			<key>question_id</key>
			<string>integer</string>
			<key>post_id</key>
			<string>integer</string>
			<key>comment_id</key>
			<string>integer</string>
			<key>revision_guid</key>
			<string>string</string>
			<key>up_vote_count</key>
			<string>integer</string>
			<key>down_vote_count</key>
			<string>integer</string>
			<key>creation_date</key>
			<string>date</string>
			<key>user</key>
			<string>user</string>
			<key>owner</key>
			<string>user</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>related_site</string>
		<key>fields</key>
		<dict>
			<key>name</key>
			<string>string</string>
			<key>site_url</key>
			<string>string</string>
			<key>relation</key>
			<array>
				<string>parent</string>
				<string>meta</string>
				<string>chat</string>
			</array>
			<key>api_site_parameter</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>reputation</string>
		<key>fields</key>
		<dict>
			<key>user_id</key>
			<string>integer</string>
			<key>post_id</key>
			<string>integer</string>
			<key>post_type</key>
			<array>
				<string>question</string>
				<string>answer</string>
			</array>
			<key>vote_type</key>
			<array>
				<string>accepts</string>
				<string>up_votes</string>
				<string>down_votes</string>
				<string>bounties_offered</string>
				<string>bounties_won</string>
				<string>spam</string>
				<string>suggested_edits</string>
			</array>
			<key>title</key>
			<string>string</string>
			<key>link</key>
			<string>string</string>
			<key>reputation_change</key>
			<string>integer</string>
			<key>on_date</key>
			<string>date</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>revision</string>
		<key>uniqueField</key>
		<string>revision_guid</string>
		<key>fields</key>
		<dict>
			<key>revision_guid</key>
			<string>string</string>
			<key>revision_number</key>
			<string>integer</string>
			<key>revision_type</key>
			<array>
				<string>single_user</string>
				<string>vote_based</string>
			</array>
			<key>post_type</key>
			<array>
				<string>question</string>
				<string>answer</string>
			</array>
			<key>post_id</key>
			<string>integer</string>
			<key>comment</key>
			<string>string</string>
			<key>creation_date</key>
			<string>date</string>
			<key>is_rollback</key>
			<string>boolean</string>
			<key>last_body</key>
			<string>string</string>
			<key>last_title</key>
			<string>string</string>
			<key>last_tags</key>
			<string>strings</string>
			<key>body</key>
			<string>string</string>
			<key>title</key>
			<string>string</string>
			<key>tags</key>
			<string>strings</string>
			<key>set_community_wiki</key>
			<string>boolean</string>
			<key>user</key>
			<string>user</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>site</string>
		<key>uniqueField</key>
		<string>name</string>
		<key>fields</key>
		<dict>
			<key>site_type</key>
			<string>string</string>
			<key>name</key>
			<string>string</string>
			<key>logo_url</key>
			<string>string</string>
			<key>api_site_parameter</key>
			<string>string</string>
			<key>site_url</key>
			<string>string</string>
			<key>audience</key>
			<string>string</string>
			<key>icon_url</key>
			<string>string</string>
			<key>aliases</key>
			<string>strings</string>
			<key>site_state</key>
			<array>
				<string>normal</string>
				<string>closed_beta</string>
				<string>open_beta</string>
				<string>linked_meta</string>
			</array>
			<key>styling</key>
			<string>styling</string>
			<key>closed_beta_date</key>
			<string>date</string>
			<key>open_beta_date</key>
			<string>date</string>
			<key>launch_date</key>
			<string>date</string>
			<key>favicon_url</key>
			<string>string</string>
			<key>related_sites</key>
			<string>related_sites</string>
			<key>twitter_account</key>
			<string>string</string>
			<key>markdown_extensions</key>
			<string>strings</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>styling</string>
		<key>fields</key>
		<dict>
			<key>link_color</key>
			<string>string</string>
			<key>tag_foreground_color</key>
			<string>string</string>
			<key>tag_background_color</key>
			<string>string</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>suggested_edit</string>
		<key>uniqueField</key>
		<string>suggested_edit_id</string>
		<key>fields</key>
		<dict>
			<key>suggested_edit_id</key>
			<string>integer</string>
			<key>post_id</key>
			<string>integer</string>
			<key>post_type</key>
			<array>
				<string>question</string>
				<string>answer</string>
			</array>
			<key>body</key>
			<string>string</string>
			<key>title</key>
			<string>string</string>
			<key>tags</key>
			<string>strings</string>
			<key>comment</key>
			<string>string</string>
			<key>creation_date</key>
			<string>date</string>
			<key>approval_date</key>
			<string>date</string>
			<key>rejection_date</key>
			<string>date</string>
			<key>proposing_user</key>
			<string>user</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>tag</string>
		<key>uniqueField</key>
		<string>name</string>
		<key>fields</key>
		<dict>
			<key>name</key>
			<string>string</string>
			<key>count</key>
			<string>integer</string>
			<key>is_required</key>
			<string>boolean</string>
			<key>is_moderator_only</key>
			<string>boolean</string>
			<key>user_id</key>
			<string>integer</string>
			<key>has_synonyms</key>
			<string>boolean</string>
			<key>last_activity_date</key>
			<string>date</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>tag_synonym</string>
		<key>fields</key>
		<dict>
			<key>from_tag</key>
			<string>string</string>
			<key>to_tag</key>
			<string>string</string>
			<key>applied_count</key>
			<string>integer</string>
			<key>last_applied_date</key>
			<string>date</string>
			<key>creation_date</key>
			<string>date</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>tag_score</string>
		<key>fields</key>
		<dict>
			<key>user</key>
			<string>user</string>
			<key>score</key>
			<string>integer</string>
			<key>post_count</key>
			<string>integer</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>tag_wiki</string>
		<key>fields</key>
		<dict>
			<key>tag_name</key>
			<string>string</string>
			<key>body</key>
			<string>string</string>
			<key>excerpt</key>
			<string>string</string>
			<key>body_last_edit_date</key>
			<string>date</string>
			<key>excerpt_last_edit_date</key>
			<string>date</string>
			<key>last_body_editor</key>
			<string>user</string>
			<key>last_excerpt_editor</key>
			<string>user</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>top_tag</string>
		<key>fields</key>
		<dict>
			<key>tag_name</key>
			<string>string</string>
			<key>question_score</key>
			<string>integer</string>
			<key>question_count</key>
			<string>integer</string>
			<key>answer_score</key>
			<string>integer</string>
			<key>answer_count</key>
			<string>integer</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>user</string>
		<key>uniqueField</key>
		<string>user_id</string>
		<key>fields</key>
		<dict>
			<key>user_id</key>
			<string>integer</string>
			<key>user_type</key>
			<array>
				<string>unregistered</string>
				<string>registered</string>
				<string>moderator</string>
				<string>does_not_exist</string>
			</array>
			<key>creation_date</key>
			<string>date</string>
			<key>display_name</key>
			<string>string</string>
			<key>profile_image</key>
			<string>string</string>
			<key>reputation</key>
			<string>integer</string>
			<key>reputation_change_day</key>
			<string>integer</string>
			<key>reputation_change_week</key>
			<string>integer</string>
			<key>reputation_change_month</key>
			<string>integer</string>
			<key>reputation_change_quarter</key>
			<string>integer</string>
			<key>reputation_change_year</key>
			<string>integer</string>
			<key>age</key>
			<string>integer</string>
			<key>last_access_date</key>
			<string>date</string>
			<key>last_modified_date</key>
			<string>date</string>
			<key>is_employee</key>
			<string>boolean</string>
			<key>link</key>
			<string>string</string>
			<key>website_url</key>
			<string>string</string>
			<key>location</key>
			<string>string</string>
			<key>account_id</key>
			<string>integer</string>
			<key>timed_penalty_date</key>
			<string>date</string>
			<key>badge_counts</key>
			<string>badge_count</string>
			<key>question_count</key>
			<string>integer</string>
			<key>answer_count</key>
			<string>integer</string>
			<key>up_vote_count</key>
			<string>integer</string>
			<key>down_vote_count</key>
			<string>integer</string>
			<key>about_me</key>
			<string>string</string>
			<key>view_count</key>
			<string>integer</string>
			<key>accept_rate</key>
			<string>integer</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>user_timeline</string>
		<key>fields</key>
		<dict>
			<key>creation_date</key>
			<string>date</string>
			<key>post_type</key>
			<array>
				<string>question</string>
				<string>answer</string>
			</array>
			<key>timeline_type</key>
			<array>
				<string>commented</string>
				<string>asked</string>
				<string>answered</string>
				<string>badge</string>
				<string>revision</string>
				<string>accepted</string>
				<string>reviewed</string>
				<string>suggested</string>
			</array>
			<key>user_id</key>
			<string>integer</string>
			<key>post_id</key>
			<string>integer</string>
			<key>comment_id</key>
			<string>integer</string>
			<key>suggested_edit_id</key>
			<string>integer</string>
			<key>badge_id</key>
			<string>integer</string>
			<key>title</key>
			<string>string</string>
			<key>detail</key>
			<string>string</string>
			<key>link</key>
			<string>string</string>
		</dict>
	</dict>
</array>
</plist>
